.categories-component {
  padding: 1em;
  button {
    cursor: pointer;
  }

  .category-components {
    .category-component {
      margin-top: 1.5em;
      .category-header {
        background-color: #31363F;
        padding: 0.2em 0.5em;
        font-size: 1em;
        cursor: pointer;
      }
      .category-body {
        max-height: 0;
        overflow: hidden;
        transition-property: max-height;
        transition-duration: 0.7s;
        transition-delay: 0s;
        color: #252a2e;
        .category-actions {
          display: flex;
          justify-content: space-between;
          padding: 0 0.3em;
          background-color: white;
          text-align: right;
          .fa-pen, .fa-trash, .privacy {
            margin: auto 0;
            cursor: pointer;
            font-size: 0.7em;
            display: inline-block;
          }
          .fa-pen {
            margin-right: 0.7em;
          }
        }
        .command-list {
          list-style-type: none;
          padding: 0;
          .command-list-item {
            background-color: #ffffe9;
            padding: 0.5em;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            .command-content {
              .command-description {
                font-size: 0.85em;
              }
              .command-script {
                font-size: 0.7em;
                cursor: pointer;
              }
            }
          }
        }
      }
      .expand {
        max-height: 50em;
        overflow-y: scroll;
      }
    }
  }
}
.delete-category {
  padding: 1em;
  background-color: #252a2e;
  .underline {
    height: 0.1em;
    background-color: #31363F;
    margin: 1.2em 0 0.5em 0;
  }
  button {
    display: inline-block;
    margin-left: 1em;
  }
}
