.categories-component {
  padding: 1em;
  button {
    cursor: pointer;
  }
  .categories-actions {
    display: flex;
    justify-content: space-between;
  }
  .category-components {
    .category-component {
      margin-top: 1.5em;
      .category-header {
        background-color: #31363F;
        padding: 0.2em 0.5em;
        font-size: 1em;
        cursor: pointer;
      }
      .category-body {
        max-height: 0;
        overflow: hidden;
        transition-property: max-height;
        transition-duration: 0.7s;
        transition-delay: 0s;
        color: #252a2e;
        .category-actions {
          display: flex;
          justify-content: space-between;
          padding: 0 0.3em;
          background-color: white;
          text-align: right;
          .fa-pen, .fa-trash, .privacy, .fa-plus {
            margin: auto 0 auto 0.7em;
            cursor: pointer;
            font-size: 0.7em;
            display: inline-block;
          }
        }
        .command-list {
          list-style-type: none;
          padding: 0;
          .command-list-item {
            background-color: #ffffe9;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            .command-actions {
              padding: 0 0.3em;
              text-align: right;
              font-size: 0.7em;
              background-color: #e5e5d1;
              span {
                cursor: pointer;
                &:hover {
                  text-decoration: underline;
                }
              }
            }
            .command-content {
              padding: 0 0.5em 0.5em 0.5em;
              .command-description {
                font-size: 0.85em;
              }
              .command-script {
                font-size: 0.7em;
                cursor: pointer;
              }
            }
          }
        }
      }
      .expand {
        max-height: 50em;
        overflow-y: scroll;
      }
    }
  }
}
.delete-category, .add-or-edit-category, .create-or-edit-command {
  padding: 1em;
  background-color: #252a2e;
  .underline {
    height: 0.1em;
    background-color: #31363F;
    margin: 1.2em 0 0.5em 0;
  }
  button {
    display: inline-block;
    margin-left: 1em;
  }
  label {
    margin-bottom: 0.3rem;
  }
  input {
     border-radius: unset;
   }
  input[type="submit"] {
    cursor: pointer;
  }
  .error {
    display: block;
    color: #f66;
    font-size: 0.7rem;
  }
}
.add-or-edit-category {
  .form-check-label {
    margin-top: 0.13rem;
  }
  .command-input-group {
    padding-bottom: 0.5em;
    border-top: 1px solid #7F7F7F;
    border-bottom: 1px solid #7F7F7F;
    margin-bottom: 0.5em;
    input {
      width: 50%;
    }
    .category-command-error-action-wrapper {
      display: flex;
      justify-content: space-between;
      .remove-category-command-icon {
        cursor: pointer;
        font-size: 0.8em;
      }
    }
  }
  .add-category-command-wrapper {
    text-align: center;
    .add-category-command-icon {
      cursor: pointer;
      font-size: 1em;
    }
  }
}
.create-or-edit-command {
  .command-input-group {
    padding-bottom: 0.5em;
    border-top: 1px solid #7F7F7F;
    border-bottom: 1px solid #7F7F7F;
    margin-bottom: 0.5em;
    input {
      width: 50%;
    }
    .command-error-action-wrapper {
      display: flex;
      justify-content: space-between;
      .remove-command-icon {
        cursor: pointer;
        font-size: 0.8em;
      }
    }
  }
  .add-command-wrapper {
    text-align: center;
    .add-command-icon {
      cursor: pointer;
      font-size: 1em;
    }
  }
}
