.sidebar {
  padding: 1em;
  position: fixed;
  height: 100vh;
  overflow-y: scroll;
  min-width: 20%;
  max-width: 70%;
  @media screen and (min-width: 600px) {
    max-width: 20%;
  }
  z-index: 10;
  background-color: #21252b;
  box-shadow: rgba(0, 0, 0, 0.15) -2px 2px 4px;
  transition: -webkit-transform 0.3s ease-out 0s;
  will-change: transform;
  transform: translateX(-100%);
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  .logout-container {
    margin-bottom: 17vh;
  }
  .login-or-register {
    @import 'loginOrRegister';
  }
}
.expand-sidebar {
  position: absolute;
  top: 3%;
  left: 1%;
  cursor: pointer;
  z-index: 9;
}
.sidebar-expand {
  transform: translateX(0%);
}
